@font-face {
	font-family: 'gardens';
	src: local('gardens'),
	     url('fonts/gardens.ttf') format('truetype');
}

@font-face {
	font-family: 'clickuper';
	src: local('clickuper'),
	     url('fonts/clickuper.ttf') format('truetype');
}

.header {
    display: flex;
}
body {
    margin: 0px;
}

header {
    height: 650px;
    width: 100%;
    background-color: #d3d3d3;
    margin: 0px;
}

.header-contact {
    height: 650px;
    width: 100%;
    background-color: #d3d3d3;
    margin: 0px;
}




.header-title {
    font-family: 'gardens';
    margin:0px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 60px;
    color: #838383;
}
.links {
    display: flex;
    margin-left: 250px;
}

.link {
    text-decoration: none;
    margin-top: 5px;
    padding-left: 35px;
}

.title-link {
    color: #838383;
    font-family: 'gardens';
    font-size: 35px;
    font-weight: 100;
}

.skills {
    display: flex;
    align-items: center;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

.title-skills {
    font-family: 'clickuper';
    font-size: 65px;
    color: #838383;
}


.header-image {
    width: 400px;
    height: 100%;
}
.header-image {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    
.header-image:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

section {
    background-color: #838383;
    width: 100%;
    height: 500px;
}

.div-title {
    padding-top: 10px;
}

.section-title {
    margin-top: 0px;
    font-family: 'gardens';
    font-size: 60px;
    color: #d3d3d3;
    text-align: center;
}

.div-image {
    display: block; 
    text-align: center; 
}

.section-image {
    height: 100%;
    width: 300px;
}

.section-image {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    
.section-image:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #d3d3d3;
}

.div-footer {
    display: flex;
}

.vk {
    margin-left: 190px;
}

.mailru {
    margin-left: 650px;
}

.footer-title {
    color: #838383;
    font-family: 'gardens';
    font-size: 60px;
    font-weight: 900;
    margin-top: 0px;
}

.contacts {
    display: flex;
}

.vk-link {
    margin-left: 30px;
}

.mailru-link {
    margin-left: 370px;
}

.footer-link {
    color: #838383;
    font-family: 'gardens';
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
}

.alink {
    text-decoration: none;
}

.price-title {

}

.price-title-price {
    color: darkorange;
    text-align: center;
    font-family: 'gardens';
    font-size: 50px;
}

.price-price {
    font-family: 'gardens';
    color: #838383;
    font-size: 55px;
    text-align: center;
}

.conditions {
    height: 360px;
    width: 100%;
    background-color: #838383;
}

.condition-title {
    text-align: center;
    font-family: 'gardens';
    color: #d3d3d3;
    font-size: 40px;
}

.conditions h1:hover { color: darkorange; font-size: 45px;}
.price-hover h1:hover { color: darkorange; font-size: 60px;}

.contacts {
    margin: 0 auto;
}

.imgvk {
     width: 190px;
     height: 100%;
}

.vk-img {
    margin-left: 30px;
}

.imgvk {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    
.imgvk:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.mail-img {
    margin-left: 800px;
    margin-top: 25px;
}

.imgmail {
    width: 70px;
    height: 76px;
}

.imgmail {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    
.imgmail:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.contactlink {
    display: flex;
}

.textvk {
    margin-left: 30px;
}

.textmail {
    margin-left: 670px;
}

@media screen and (max-width : 600px) {
    header {
        height: 900px;
        width: 100%;
        background-color: #d3d3d3;
        margin: 0px;
    }
    .header-contact {
        height: 390px;
        width: 100%;
        background-color: #d3d3d3;
        margin: 0px;
    }
    .header {
        display: inline-block;
    }
    .links {
        display: inline-block;
        margin-left: 60px;
        text-align: center;
    }
    
    .link {
        text-decoration: none;
        margin-top: 1px;
        padding-left: 5px;
    }
    
    .header-title {
        font-family: 'gardens';
        margin:0px;
        font-size: 70px;
        color: #838383;
    }
    .skills {
        display: block;
        width: 1000px;
        position: absolute;
        left: 50%;
        margin-left: -500px;
    }
    
    .title-skills {
        font-family: 'clickuper';
        font-size: 20px;
        color: #838383;
    }
    .header-image {
        width: 200px;
        height: 100%;
    }
    .header-image {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
        
    .header-image:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    section {
        background-color: #838383;
        width: 100%;
        height: 500px;
    }
    
    .div-title {
        padding-top: 10px;
    }
    
    .section-title {
        margin-top: 0px;
        font-family: 'gardens';
        font-size: 60px;
        color: #d3d3d3;
        text-align: center;
    }
    
    .div-image {
        display: block; 
        text-align: center; 
    }
    
    .section-image {
        height: 100%;
        width: 300px;
    }
    
    .section-image {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
        
    .section-image:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .footer {
        height: 350px;
        width: 100%;
        background-color: #d3d3d3;
    }
    
    .div-footer {
        display: block;
    }
    
    .vk {
        margin-left: 0px;
    }
    
    .mailru {
        margin-left: 0px;
    }
    
    .footer-title {
        color: #838383;
        font-family: 'gardens';
        font-size: 60px;
        font-weight: 900;
        margin-top: 0px;
    }
    
    .contacts {
        display: block;
    }
    
    .vk-link {
        margin-left: 0px;
    }
    
    .mailru-link {
        margin-left: 7px;
    }
    
    .footer-link {
        color: #838383;
        font-family: 'gardens';
        font-size: 20px;
        font-weight: 400;
        margin-top: 0px;
    }
    
    .alink {
        text-decoration: none;
    }
    
    .price-title {
    
    }
    
    .price-title-price {
        color: darkorange;
        text-align: center;
        font-family: 'gardens';
        font-size: 50px;
    }
    
    .price-price {
        font-family: 'gardens';
        color: #838383;
        font-size: 40px;
        text-align: center;
    }
    
    .conditions {
        height: 540px;
        width: 100%;
        background-color: #838383;
    }
    
    .condition-title {
        text-align: center;
        font-family: 'gardens';
        color: #d3d3d3;
        font-size: 40px;
    }
    
    .conditions h1:hover { color: darkorange; font-size: 45px;}
    .price-hover h1:hover { color: darkorange; font-size: 45px;}
    
    .contacts {
        margin: 0 auto;
    }
    
    .imgvk {
         width: 190px;
         height: 100%;
    }
    
    .vk-img {
        margin-left: 4px;
    }
    
    .imgvk {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
        
    .imgvk:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    .mail-img {
        margin-left: 8px;
        margin-top: 25px;
    }
    
    .imgmail {
        width: 70px;
        height: 76px;
    }
    
    .imgmail {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
        
    .imgmail:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .contactlink {
        display: block;
    }
    
    .textvk {
        margin-left: 3px;
    }
    
    .textmail {
        margin-left: 3px;
    }
}